.evolution-background{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPm6u9uTAXOmI0JC1xtEOykaQ5Yifz9V_JCw&s');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  background-attachment: fixed;
}

.animated-header {
  background: url('https://cdn.prod.website-files.com/62041b52ed8a5756a8361408/650b76b2a66ebc491e52d45f_abundance-2.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgb(84, 14, 91);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.animated-footer {
  background: url('https://cdn.prod.website-files.com/62041b52ed8a5756a8361408/650b76b2a66ebc491e52d45f_abundance-2.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgb(7, 43, 74);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin-top: 10px;
}

.h2feature {
  text-align: center;
  margin: 10px;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.paragraph {
  text-align: justify;
}