@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Protest+Revolution&display=swap');
@keyframes animationBackground {
  0% {
    background-color: #011c07;
  }
  50% {
    background-color: #1f7b38;
  }
  100% {
    background-color: rgb(97, 210, 97);
  }
}
.bg-animated {
  animation: animationBackground 5s infinite;
  height: auto;
  width: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.herald {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
  background: linear-gradient(black, rgb(12, 71, 12), rgb(85, 145, 85), rgb(12, 71, 12), black);
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 1s ease-in-out, background 1s ease-in-out; /* Pastikan durasi terdefinisi */
}

.btn:hover {
  background: linear-gradient(white, rgb(27, 105, 27), black, rgb(20, 99, 20), white);
  transform: scale(1.2); /* Membuat efek zoom */
}





