
.navbar {
    background: linear-gradient(black, rgb(6, 65, 6));
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff !important;
  }
  

  .nav-link {
    color: #f7f7f7 !important;
    transition: transform 1s ease-in-out, color 1s ease-in-out, text-shadow 1s ease-in-out; 
    font-size: 1rem;
  }
  

  .hover-grow {
    display: inline-block;
    position: relative; 
  }
  
  .hover-grow:hover {
    transform: scale(1.2) rotate(3deg); 
    color: #eaffd0 !important; 
    text-shadow: 0 0 10px #eaffd0, 0 0 20px #b6ff94, 0 0 30px #94ff72;
  }
  
  
  .hover-grow::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #eaffd0; 
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s ease-in-out; 
  }
  
  .hover-grow:hover::after {
    transform: scaleX(1); 
  }
  
  
  .nav-title {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    transition: text-shadow 0.6s ease-in-out, color 0.6s ease-in-out;
  }
  
  .nav-title:hover {
    color: #d0ffd6;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
  }
  