/*
Nama : Shinta Eldo Marpaung
NIM : 41424026
Prodi : D-IV TRPL
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

nav {
  background: #333;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li link {
  color: #fff;
  text-decoration: none;
}

h1, h2 {
  color: #333;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: rgb(41, 182, 41);
  color: aliceblue;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgb(93, 236, 93);
}